<%= form_with(model: worse_condition, local: true) do |form| %>
  <% if worse_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worse_condition.errors.count, "error") %> prohibited this worse_condition from being saved:</h2>

      <ul>
      <% worse_condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
