<div class="col text-center">
  <h1 lass="h3 mb-3 font-weight-normal">ログイン</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <form class="form-signin">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "inputEmail", class: "form-control"%>

      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", id: "inputEmail", class: "form-control" %><br />

      <%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block" %>
    </form>
  <% end %>
</div>
