<%= form_with(model: @diary, local: true) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
      <% diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :今日は %>
    <%= form.date_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :今日の気分 %>
    <%= form.select :day_icon, Diary.day_icons.keys.to_a, {} %>
  </div>

  <div class="field">
    <%= form.label :起床時刻 %>
    <%= form.time_select :getup_at, default: {hour: 7, min: 0} %>
  </div>

  <div class="field">
    <%= form.label :就寝時刻 %>
    <%= form.time_select :sleep_at, default: {hour: 22, min: 0} %>
  </div>

  <div class="field">
    <%= form.label :入眠 %>
    <%= form.select :sleep_label, Diary.sleep_labels.keys.to_a, {} %>
  </div>

  <div class="field">
    <%= form.label :今日の行動 %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
