<%= form_with(model: @diary, local: true) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
      <% diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>1日の記録</p>
  <div class="field">
    <%= form.label :今日は %>
    <%= form.date_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :今日の気分 %>
    <%= form.select :day_icon, Diary.day_icons.keys.to_a, {} %>
  </div>

  <div class="field">
    <%= form.label :就寝時刻 %>
    <%= form.time_select :sleep_at, default: {hour: 22, min: 0} %>
  </div>

  <div class="field">
    <%= form.label :起床時刻 %>
    <%= form.time_select :getup_at, default: {hour: 7, min: 0} %>
  </div>

  <div class="field">
    <%= form.label :入眠 %>
    <%= form.select :sleep_label, Diary.sleep_labels.keys.to_a, {} %>
  </div>

  <div class="field">
    <%= form.label :中途覚醒の有無 %>
    <%= form.check_box :halfway_awakening, {}, checked_value: "true", unchecked_value: "false"%>
  </div>

  <div class="field">
    <%= form.label :外出の有無 %>
    <%= form.select :day_action, [['外出なし', 0], ['外出あり', 1]] %>
  </div>

  <p>朝昼夜の気分</p>
    <%= form.fields_for :feeling do |form| %>
      <div class="field">
        <%= form.label :朝の気分 %>
        <%= form.select :morning_feel, [['普通', '普通'], ['元気', '元気'],['憂うつ', '憂うつ'],['とても元気','とても元気'],['とても憂うつ','とても憂うつ']], include_blank: "選択して下さい" %>
      </div>
      <div class="field">
        <%= form.label :昼の気分 %>
        <%= form.select :noon_feel, [['普通', '普通'], ['元気', '元気'],['憂うつ', '憂うつ'],['とても元気','とても元気'],['とても憂うつ','とても憂うつ']], include_blank: "選択して下さい" %>
      </div>
      <div class="field">
        <%= form.label :夜の気分 %>
        <%= form.select :night_feel, [['普通', '普通'], ['元気', '元気'],['憂うつ', '憂うつ'],['とても元気','とても元気'],['とても憂うつ','とても憂うつ']], include_blank: "選択して下さい" %>
      </div>
    <% end %>
  <br>
  <div class="field">
    <%= form.label :今日のコメント %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
