<div class="col text-center">
  <p id="notice"><%= notice %></p>

  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to '今日のレコード', new_diary_path, class: "btn btn-info" %>
    <%= link_to 'データを見る', diaries_transition_path, class: "btn btn-info" %>
  </div>
</div>


  <%= month_calendar events: @diaries do |date, diaries| %>
    <%= date %>

    <% diaries.each do |diary| %>
      <% if diary.day_icon == '普通' %>
        <%= link_to image_tag("mark_face_smile.png", size: "75x75"), diary %>
      <% end %>
      <% if diary.day_icon == '元気' %>
        <%= link_to image_tag("mark_face_hehe.png", size: "75x75"), diary %>
      <% end %>
      <% if diary.day_icon == '憂うつ' %>
        <%= link_to image_tag("mark_face_ase.png", size: "75x75"), diary %>
      <% end %>
      <% if diary.day_icon == 'とても元気' %>
        <%= link_to image_tag("mark_face_tere.png", size: "75x75"), diary %>
      <% end %>
      <% if diary.day_icon == 'とても憂うつ' %>
        <%= link_to image_tag("mark_face_cry.png", size: "75x75"), diary %>
      <% end %>
    <% end %>
  <% end %>
