<h1>manaby-STEP</h1>
<!-- アドミンのみ -->
<h3><%= link_to '良好サイン一覧', better_conditions_path %></h3>
<h3><%= link_to '注意サイン一覧', attentions_path %></h3>
<h3><%= link_to '悪化サイン一覧', worse_conditions_path %></h3>

<h2><%= link_to 'サイン一覧/登録', signs_path %></h2>
<h2><%= link_to 'カレンダー表示', daiaries_path %></h2>
