<p id="notice"><%= notice %></p>

<h1>STEP</h1>

<%= link_to '今日のSTEP', new_daiary_path %>
<%= link_to 'いい調子一覧', better_conditions_path %>

<%= month_calendar events: @daiaries do |date, daiaries| %>
  <%= date %>

  <% daiaries.each do |daiary| %>
    <%= link_to "#{daiary.title}", daiary %>
  <% end %>
<% end %>
