<p id="notice"><%= notice %></p>

<h1>STEP</h1>

<h2><%= link_to '今日のSTEP', new_daiary_path %></h2>

<%= month_calendar events: @daiaries do |date, daiaries| %>
  <%= date %>

  <% daiaries.each do |daiary| %>
    <% if daiary.day_icon == '普通' %>
      <%= link_to image_tag("mark_face_smile.png", size: "75x75"), daiary %>
    <% end %>
    <% if daiary.day_icon == '元気' %>
      <%= link_to image_tag("mark_face_hehe.png", size: "75x75"), daiary %>
    <% end %>
    <% if daiary.day_icon == '憂うつ' %>
      <%= link_to image_tag("mark_face_ase.png", size: "75x75"), daiary %>
    <% end %>
    <% if daiary.day_icon == 'とても元気' %>
      <%= link_to image_tag("mark_face_tere.png", size: "75x75"), daiary %>
    <% end %>
    <% if daiary.day_icon == 'とても憂うつ' %>
      <%= link_to image_tag("mark_face_cry.png", size: "75x75"), daiary %>
    <% end %>
  <% end %>
<% end %>

<h1>週カレンダーA</h1>
<%= week_calendar number_of_weeks: 1, events: @daiaries do |date, daiaries| %>
  <%= date %>

  <% daiaries.each do |daiary| %>
    <% if daiary.day_icon == '普通' %>
      <%= link_to image_tag("mark_face_smile.png", size: "75x75"), daiary %>
    <% end %>
    <% if daiary.day_icon == '元気' %>
      <%= link_to image_tag("mark_face_hehe.png", size: "75x75"), daiary %>
    <% end %>
    <% if daiary.day_icon == '憂うつ' %>
      <%= link_to image_tag("mark_face_ase.png", size: "75x75"), daiary %>
    <% end %>
    <% if daiary.day_icon == 'とても元気' %>
      <%= link_to image_tag("mark_face_tere.png", size: "75x75"), daiary %>
    <% end %>
    <% if daiary.day_icon == 'とても憂うつ' %>
      <%= link_to image_tag("mark_face_cry.png", size: "75x75"), daiary %>
    <% end %>
  <% end %>
<% end %>

<h1>週カレンダーB</h1>
<%= week_calendar number_of_weeks: 1, events: @daiaries do |date, daiaries| %>
  <%= date %>

  <% daiaries.each do |daiary| %>
    <h2><%= link_to "#{daiary.sleep_label}", daiary %></h2>
    <h2><%= link_to "#{daiary.tatal_sleep}時間", daiary %></h2>
  <% end %>
<% end %>
