<p id="notice"><%= notice %></p>

<p>
  <strong>気分</strong>
  <%= @daiary.day_icon %>
</p>

<p>
  <strong>入眠</strong>
  <%= @daiary.sleep_label %>
</p>

<p>
  <strong>睡眠時間</strong>
  <%= @daiary.tatal_sleep %>時間
</p>

<p>
  <strong>記録日:</strong>
  <%= @daiary.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<%= link_to 'Edit', edit_daiary_path(@daiary) %> |
<%= link_to '消す', @daiary, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', daiaries_path %>
